.virtual-table .ant-table-container:before,
  .virtual-table .ant-table-container:after {
    display: none;
  }
  .virtual-table-cell {
    box-sizing: border-box;
    padding: 16px;
    border-bottom: 1px solid #e8e8e8;
    background: #FFF;
  }
 [data-theme="dark"]  .virtual-table-cell {
    box-sizing: border-box;
    padding: 16px;
    border-bottom: 1px solid #303030;
    background: green;
}

.ant-table-thead {
    font-family: KoerberSemiBold;
    th {
      background: gray;
    }
    tr {
      line-height: 1;
    }
  }
  .ant-table-tbody > td { 
    padding: 0px 16px;
    padding-right: 0px;
    height: 41px;
   
  }
  .ant-table-content > table {
    table-layout: fixed !important;
  }
  @media screen and (max-width: 800px) {
    .ant-table-content > table {
      table-layout: auto !important;
    }
  }